
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import "~bootstrap/scss/bootstrap";

.product-card {
  height: 100%;
}

.navbar {
  .nav-item {
    .cart-item-link {
      position: relative;
      height: 100%;

      .cart-item-img {
        max-height: 33px;
      }

      .cart-item-counter {
        position: absolute;
        font-size: 0.85em;
        bottom: 0;
        right: -6px;
        color: #fff;
        background-color: #333;
        border-radius: 3px;
        width: 15px;
        height: 15px;
        text-align: center;
        line-height: 15px;
      }
    }
  }
}

.cart {
  .cart-table {
    tr {
      td {
        vertical-align: middle;

        img.product-img {
          max-width: 100px;
        }

        .count_control {
          .count_control_link {
            cursor: pointer;
            transition: all .3s ease;
            height: 25px;
            width: 25px;
            border: 1px solid #f8463b;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            color: #f8463b;
            font-weight: bold;

            &:hover {
              color: #fff;
              background: #f8463b;
            }
          }

          .count_control_value {
            display: inline-block;
            width: 30px;
            text-align: center;
          }
        }

        .delete_control_link {
          text-decoration: none;
          padding: 5px;
          cursor: pointer;
          font-size: 1.6em;
          color: #f8463b;
        }
      }
    }
  }

  .cart-total {
    font-size: 1.6em;
    font-weight: bold;
  }

  .cart-btn {
    border: 1px solid #f8463b;
    text-decoration: none;
    color: #fff;
    background-color: #f8463b;
  }
}
