<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>
            @-webkit-keyframes pulse-outer{0%{opacity:1}50%{opacity:.5}100%{opacity:0}}@keyframes pulse-outer{0%{opacity:1}50%{opacity:.5}100%{opacity:0}}@-webkit-keyframes pulse-inner{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulse-inner{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}.preloader .pulse::before{-webkit-animation:pulse-outer .8s ease-in infinite;animation:pulse-outer .8s ease-in infinite}.preloader .pulse::after{-webkit-animation:pulse-inner .8s ease-in infinite;animation:pulse-inner .8s ease-in infinite}.preloader .pulse::after,.preloader .pulse::before{content:'';border:5px solid #ff574c;width:85px;height:85px;-webkit-border-radius:500px;border-radius:500px;position:absolute}.preloader{position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;background-color:#222}.preloader .pulse{position:relative;left:50%;top:50vh;margin-left:-40px;margin-top:-40px}
        </style>

    </head>
    <body>
        <div class="preloader">
            <div class="pulse"></div>
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_index') }}">
                    Innoscripta Shop Symfony
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-2 ">
                            <a class="cart-item-link d-flex align-items-center" href="{{ path('app_cart') }}">
                                <img src="{{ asset('build/img/cart.png') }}" class="cart-item-img" alt="...">
                                <span class="cart-item-counter">{{ cart().count() }}</span>
                            </a>
                        </li>
                        <!-- Authentication Links -->
                        {% if app.user is empty %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.username }} <span class="caret"></span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_order_history') }}">
                                    Order History
                                </a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                   Logout
                                </a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% for message in app.flashes('message') %}
                            <div class="alert alert-primary mb-2 alert-block" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% block body %}{% endblock %}
        </main>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
