{% extends 'base.html.twig' %}

{% block title %}Order cart{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Cart</h1>
        </div>
    </div>
    <div class="row justify-content-center align-items-start">
        <div class="col">
            {{ cart_view() }}
        </div>
    </div>
</div>
{% endblock %}
