{% extends 'base.html.twig' %}

{% block title %}Orders History{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Orders History</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <table class="table table-striped text-left">
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.createdAt|date('Y-m-d H:i') }}</td>
                        <td>{{ order.address }}</td>
                        <td>
                            {% for orderProduct in order.orderProducts %}
                            {{ orderProduct.product.title }} x{{ orderProduct.count }}<br>
                            {% endfor %}
                        </td>
                        <td class="text-right">
                            {{ order.totalPrice|raw }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row navigation">
            <div class="col">
                {{ knp_pagination_render(orders) }}
            </div>
        </div>
    </div>
{% endblock %}

