<div class="cart" data-reload-url="{{ path('app_cart') }}">
    {% if products is not empty %}
    <table class="table table-hover cart-table">
        {% for orderProduct in products %}
        <tr>
            <td class="text-center w-auto">
                <img class="product-img" src="{{ asset(orderProduct.product.imageUrl) }}" alt="">
            </td>
            <td>
                <b>{{ orderProduct.product.title }}</b>
            </td>
            <td>
                <div class="count_control d-flex align-items-center text-center">
                    <a data-id="{{ orderProduct.product.id }}" href="{{ path('app_cart_remove_product') }}"
                       class="count_control_link count_control_remove">-</a>
                    <span class="count_control_value">{{ orderProduct.count }}</span>
                    <a data-id="{{ orderProduct.product.id }}" href="{{ path('app_cart_add_product') }}"
                       class="count_control_link count_control_add">+</a>
                </div>
            </td>
            <td>
                {{ orderProduct.price }}
            </td>
            <td class="text-center">
                <a data-id="{{ orderProduct.product.id }}" href="{{ path('app_cart_remove_product') }}"
                   class="delete_control_link">x</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="cart-total text-right">
        <p class="mb-0">
            Total:  {{ totalPrices }}
        </p>
        <p class="small text-muted">
            With delivery price included:
            {{ deliveryPrices|join(' / ') }}
        </p>
    </div>
    <div class="cart-btns text-right">
        <a href="{{ path('app_checkout') }}" class="btn cart-btn">Proceed to checkout</a>
    </div>
    {% else %}
    <div class="text-center">
        <p>Your Order Cart is empty.</p>
        <a href="{{ path('app_index') }}" class="btn btn-primary">Continue ordering...</a>
    </div>
    {% endif %}
</div>