{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h1>Pizza menu</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-start align-items-stretch">
        {% for product in products %}
        <div class="col-12 col-md-4 col-lg-3 mb-4">
            {{ product_view(product) }}
        </div>
        {% endfor %}
    </div>
    <div class="row navigation">
        <div class="col">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
</div>
{% endblock %}